{% extends "tugas2/layout/base.html" %} {% load staticfiles%} {% block content %}
<div class="col-md-12 login"><script type="in/Login"></script></div>

<div id="feeds">
    <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
    <div class="row">
        <div class="company-data">
            <img id="logo" src="">
            <h3 id="name"></h3>
        </div>
          {% if forum_list %}
            {% for lowongan in forum_list %}
            <a class="list-group-item clearfix">
              {{ lowongan.id }}
              <br>
              {{ lowongan.lowongan }}
              <br>
              {{ lowongan.created_date }}
                <hr>
              {% for reply in lowongan.replies.all %}
                <div class="reply-list" id="{{ reply.id }}"></div>
                <script type="text/javascript">
                  if ("{{ reply.user_id }}" !== '') {
                    $("#{{reply.id}}.reply-list").append("<br>" + "<img src=" + sessionStorage.getItem("company_logo") + ">" + "<br>" + sessionStorage.getItem("company_name") + "<br>" + "{{ reply.reply_text }}");
                  } else {
                    $("#{{reply.id}}".reply-list).append("<br>" + "<img src='https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png'>" + "<br>" + "Anonymous" + "<br>" + "{{ reply.reply_text }}");
                  }
                </script>
              {% endfor %}
              <form id="{{ lowongan.id }}" class="reply-form" action="">
                {% csrf_token %}
                <textarea id="reply-text" class="form-control"></textarea>
                <input type="submit" name="submit-bt" class="btn btn-info">
              </form>
            </a>
                {% endfor %}
          {% else %}
          <div class="alert alert-danger text-center">
              <strong>Oops!</strong> Tidak ada lowongan yang tersedia.
          </div>
          {% endif %}

    </div>
</div>

<script type="text/javascript">
  console.log('asd');
  // Setup an event listener to make an API call once auth is complete
  var logged_in;
  function onLinkedInLoad() {
      console.log('mulai');
      logged_in = IN.User.isAuthorized();
      // IN.User.authorize(function() {
      //   if(!logged_in){
      //   window.location = "{% url 'app_profile:index' %}";
      //   }
      // });
        IN.Event.on(IN, "auth", function() {
          getCompanyData();

        });
  }

  // Use the API call wrapper to request the company's profile data
  function getCompanyData() {
  	// Masukin ID company lau
      var cpnyID = 13600560;
      IN.API.Raw("/companies/" + cpnyID + ":(id,name,description,logo-url,specialties,website-url,company-type)?format=json")
        .method("GET")
        .result(SaveCompanyData)
        .error(onError);
        document.getElementById('feeds').style.display = 'block';
  }
  function SaveCompanyData(data){

      console.log(data);
      //save to session
      sessionStorage.setItem("company_description",data.description);
      sessionStorage.setItem("company_id",data.id);
      sessionStorage.setItem("company_logo",data.logoUrl);
      sessionStorage.setItem("company_name",data.name);
      sessionStorage.setItem("company_type",data.companyType.name);
      sessionStorage.setItem("arrOfSpecialties",data.specialties.values);
      sessionStorage.setItem("company_web",data.websiteUrl);
      sessionStorage.setItem("company_description",data.description);
      //retreive
      var name = sessionStorage.getItem("company_name");
      var icon = sessionStorage.getItem("company_logo");
      //show in html
      document.getElementById("logo").src = icon;
      document.getElementById("name").innerHTML = name;

      if (!logged_in) {
        window.location = "{% url 'app_profile:index' %}";
      }
  }

  // Handle an error response from the API call
  function onError(error) {
      console.log(error);
  }

  // Destroy the session of linkedin
  function logout(){
      IN.User.logout(removeCompanyData);
  }
  // Remove profile data from page
  function removeCompanyData(){
      document.getElementById('feeds').remove();
      sessionStorage.clear();
      window.location = "{% url 'app_home:index' %}";
  }
</script>
{% endblock %}
{% block script %}
<script>
  var create_reply = function(forum_id, user_id, text, csrfmiddlewaretoken, callback) {
    $.ajax({
      method: "POST",
      url: "{% url 'app_reply:create_reply' %}",
      data: {
        forum_id: forum_id,
        user_id: user_id,
        reply_text: text,
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(reply) {
        callback(reply);
      }
    });
  };

  $(".reply-form").submit(function(e) {
    var formObj = this

    var forum_id = formObj.id;
    var user_id = sessionStorage.getItem("company_id");
    var text = $(formObj).children("#reply-text").val();
    var csrfmiddlewaretoken = $(formObj).children("input[name=csrfmiddlewaretoken]").val();

    create_reply(forum_id, user_id, text, csrfmiddlewaretoken, function(reply) {
      if (reply.user_id != '')
        $(formObj).before("<br>" + "<img src=" + sessionStorage.getItem("company_logo") + ">" + "<br>" + sessionStorage.getItem("company_name") + "<br>" + reply.reply_text);
      else
        $(formObj).before("<br>" + "<img src='https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png'>" + "<br>" + "Anonymous" + "<br>" + reply.reply_text);
    });
    e.preventDefault();
  })
</script>
{% endblock %}
