body{
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

.footer p{
  text-align: center;
}

#pictureCompany{
  padding-bottom: 10px;
}

#nav-forum, #nav-profile{
    color: white;
}
/*
App_Home
 */
.list-group-item, .company-data, .login{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

/*
App_Profile
 */
.profileData{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.button-profile{
    width: 150px;
}

#info{
    margin-top: 30px;
}

#pictureCompany > img{
    width: 200px;
}
/*
App_Forum
 */
#forum-title, .pagination, #list-lowongan-title, .forum-lowongan, .forum-owner-info{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#id_lowongan{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.forum-lowongan{
    margin-top: 50px;
}