{% load staticfiles %} {% load static %}
<div class="footer">
    <hr>
    <p>&copy; Made By Team A12 PPW 2017</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</script>