<!-- templates/partials/header.html -->
{% load staticfiles %} {% load static %}

<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2E3131">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <div>
                <a class="navbar-brand" href="{% url 'app_home:index' %}"><img src="{% static 'img/in.png' %}" width="25px" height="25px"></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="nav-profile" href="{% url 'app_profile:index' %}"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                <li><a id="nav-forum" href="{% url 'app_forum:index' %}"><span class="glyphicon glyphicon-search"></span> Forum</a></li>
                <!--<li><a id="nav-logout"><span class="glyphicon glyphicon-off"></span> Keluar</a></li>-->
			</ul>
        </div>
    </div>
</nav>