{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Snippet" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   81te3jyuobt76t
        authorize: true
        lang:      en_US
        onLoad:    onLinkedInLoad
        scope: r_basicprofile r_emailaddress rw_company_admin w_share
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>LinkedIn Job</title>
	{% block styles %}
	{% endblock %}
	<title>
        {% block title %} PPW A12 {% endblock %}
    </title>
</head>
<header>
  {% include "tugas2/partials/header.html" %}
</header>
<body class="Site">
    <content class="Site-content">
      <div class="container">
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
  </div>
</content>
    <footer class="footer">
        {% block footer %} {% include "tugas2/partials/footer.html" %} {% endblock %}
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	{% block script %}

	{% endblock %}
</body>
